<!DOCTYPE html>
<html>
<head>
  <title>Ananas Music Bot</title>
</head>
<body>
  <h1>Welcome to AnanasMusicBot</h1>
  <p>AnanasMusicBot is a free bot, that allows Twitch affiliates to implement song requests through channel points</p>
  <p>Still in development!</p>
  <a href="https://github.com/AnanasPizza/AnanasMusicBot">GitHub Repository (Might Still be private right now)</a>
</body>
</html>